language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

before_install:
  - which python; python --version
  - pip install -r requirements-test.txt
  # Stop the build if it doesn't pass syntax and complexity checks
  - flake8 . --count --show-source --max-complexity=8 --statistics

install:
  - pip install -r requirements.txt
  - pip install .
  - pip install pytest

script:
  - pytest
